@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100%;
  margin: 0 auto !important;
  /* max-width: 1300px; */
  /* border: 1px solid red; */
  font-family: "Poppins", sans-serif;
  background: #f5f5f5;
}
html {
  overflow-x: hidden;
}
